<% layout('./layout/boilerplate') -%>

<div class="checkout_main">
  <div class="main">
    <div class="page-title">Review your order</div>

    <div class="checkout-grid">
      <div class="order-summary">
        <% Data.Cart.forEach((product)=>{%>
        <div class="cart-item-container" data-product-num="${radio_num}">
          <div class="delivery-date">
            Delivery date: <% if(product.Delivary_chargers === "0"){ %> <%=
            date[0] %> <% } else if(product.Delivary_chargers === "4.99"){ %>
            <%= date[1] %> <% } else if(product.Delivary_chargers === "9.99"){
            %> <%= date[2] %> <% } else { %> <%= product.Delivary_chargers %> <%
            } %>
          </div>

          <div class="cart-item-details-grid">
            <img class="product-image" src="<%= product.product.image.url %>" />

            <div class="cart-item-details">
              <div class="product-name">
                Name :- <%= product.product.name %>
              </div>
              <div class="product-price">$<%= product.product.price %></div>
              <div class="product-quantity">
                <span>
                  Quantity:
                  <span class="quantity-label"><%= product.Quantity %></span>
                </span>
                <span class="delete-quantity-link link-primary btn-grad">
                  Delete
                </span>
              </div>
            </div>

            <div class="delivery-options">
              <div class="delivery-options-title">Delivery Date And Price:</div>
              <div>
                <div class="delivery-option">
                  <div></div>
                  <div>
                    <div class="delivery-option-date">
                      <% if(product.Delivary_chargers === "0"){ %> <%= date[0]
                      %> <% } else if(product.Delivary_chargers === "4.99"){ %>
                      <%= date[1] %> <% } else if(product.Delivary_chargers ===
                      "9.99"){ %> <%= date[2] %> <% } else { %> <%=
                      product.Delivary_chargers %> <% } %>
                    </div>
                    <div class="delivery-option-price">
                      <% if(product.Delivary_chargers === "0"){ %> $Free <% } else
                      if(product.Delivary_chargers === "4.99"){ %> $4.99 <% } else
                      if(product.Delivary_chargers === "9.99"){ %> $9.99 <% } else {
                      %> $<%= product.Delivary_chargers %> <% } %>
                      Shipping</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% }) %>
      </div>

      <div class="payment-summary">
        <div class="payment-summary-title">Order Summary</div>

        <div class="payment-summary-row">
          <div>Items: (<%= total_items%>)</div>
          <div class="payment-summary-money">$ <%= totalPrice%></div>
        </div>

        <div class="payment-summary-row">
          <div>Shipping &amp; handling:</div>
          <div class="payment-summary-money"><%= Delivary_chargers%></div>
        </div>

        <div class="payment-summary-row subtotal-row">
          <div>Total before tax:</div>
          <div class="payment-summary-money"><%=totalPrice + Delivary_chargers %></div>
        </div>

        <div class="payment-summary-row">
          <div>Estimated tax (10%):</div>
          <div class="payment-summary-money"><%=((totalPrice + Delivary_chargers)/10).toFixed(2) %></div>
        </div>

        <div class="payment-summary-row total-row">
          <div>Order total:</div>
          <div class="payment-summary-money total_price"><%=((totalPrice + Delivary_chargers)/10 + totalPrice + Delivary_chargers ).toFixed(2) %></div>
        </div>
        <a href="/payment" class="place_order">
        <button class="place-order-button button-primary btn-grad">
          Place your order
        </button>
        </a>
      </div>
    </div>
  </div>
</div>
