
<% layout('./layout/boilerplate') -%>

  <div class="main_container">
      <div class="main_order">
      <div class="page-title">Your Orders</div>

      <div class="orders-grid">
        <% Cart_data.Orders.forEach((items)=>{ %>
          <div class="order-container">
            
            <div class="order-header">
              <div class="order-header-left-section">
                <div class="order-date">
                  <div class="order-header-label">Order Placed:</div>
                  <div><%= items.order_date %></div>
                </div>
                <div class="order-total">
                  <div class="order-header-label">Total After Tax (10%):</div>
                  <div>$<%= (items.Total)/10+ items.Total %></div>
                </div>
              </div>
  
              <div class="order-header-right-section">
                <div class="order-header-label">Order ID:</div>
                <div><%= items._id %></div>
              </div>
            </div>
            <% items.Product_Details.forEach((Product)=>{ %>
              <div class="order-details-grid">
                <div class="product-image-container">
                  <img src="<%= Product.Image %>">
                </div>
    
                <div class="product-details">
                  <div class="product-name">
                    <%= Product.name %>
                  </div>
                  <div class="product-delivery-date">
                    Arriving on: <b><%= Product.Arriving_Date %></b>
                  </div>
                  <div class="product-quantity">
                    Quantity: <%= Product.Quantity %>
                  </div>
                  <div class="product-delivery-date">
                    Shipping Charges: <b><% if(Product.Delivary_chargers ==0){ %>
                      Free
                    <% }else{ %>
                      <%= Product.Delivary_chargers * Product.Quantity %>
                    <%} %></b>
                  </div>
                  <div class="product-delivery-date">
                    Total Product Price: <b><%= Product.Price * Product.Quantity %></b>
                  </div>
                  <button class="buy-again-button button-primary btn-grad">
                    <img class="buy-again-icon" src="buy_again.png">
                    <span class="buy-again-message" style="font-size: 13px; font-weight: 600;">Buy it again</span>
                  </button>
                </div>
    
                <div class="product-actions">
                  <a>
                    <button class="track-package-button button-secondary" data-image=${product.id} data-shipping-id=${product.shippingId} data-index=${index} data-quantity=${product.quantity} >
                      Track package
                    </button>
                  </a>
                </div>
            </div>
            <%}) %>
            
          </div>
       <% }) %>
         
      </div>
    </div>
  </div>
